.card {
  position: relative;
  margin: 30px 20px;
  height: 200px;
  width: 90%;
  border-radius: 5px;
}

.details-container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.prop-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(100px);
  display: none;
}
.poster-container {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 80%;
}
.model-backdrop {
  width: 110%;
  height: 80px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  bottom: -20px;
  left: -10px;
  opacity: 0.8;
  filter: blur(10px);
  transition: all 0.5s ease-in-out;
  transform: translateY(100px);
}
.info-icon {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 2;
}
.info-icon i {
  top: 5px;
  right: 5px;
  opacity: 0;
  transform: scale(0%);
  animation: icon-pop-in 500ms forwards;
  color: #777;
  cursor: pointer;
}
.touchActive {
  transform: translate(0);
}
.carImage {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  transition: all 0.2s ease;
  cursor: pointer;
  object-position: 25% 70%;
}
.CAR2.carImage {
  object-position: 25% 80%;
}
.CAR0.carImage {
  object-position: 25% 65%;
}
.car-hover-active {
  transform: scale(115%);
  filter: grayscale(0.5);
}
.bubble {
  height: 16px;
  width: 0%;
  padding: 1px 0px;
  font-size: 0.8rem;
  font-weight: 600;
  position: absolute;
  top: 6px;
  right: 15px;
  background-color: rgba(255, 255, 255, 0.438);
  z-index: 1;
  border-radius: 10px 2px 2px 10px;
  pointer-events: none;
  opacity: 0;
  transition: all 0.5s ease;
  animation: bubble-pop-in 500ms forwards;
}
@keyframes bubble-pop-in {
  100% {
    width: 20%;
    opacity: 1;
  }
}
@keyframes icon-pop-in {
  50% {
    transform: scale(100%);
    opacity: 1;
  }
  75% {
    transform: scale(125%);
    opacity: 1;
  }
  100% {
    transform: scale(100%);
    opacity: 1;
  }
}
